<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CREATE ITEM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ok.css' %}"  > 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet"> 
</head>
<body class="create">
<div class="container">
   <div class="header-bar1">
       <a href="{% url 'tasks' %}">&#8592;BACK</a>
   </div>    









<div class="card">

<form method="POST" action="">

     {% csrf_token %}
     {{form.as_p}}

    <input class="button" type="submit" value="ADD">













</form>  
</div>
</div>
</body>  